// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#carousel-example-generic{
border:10px solid #000;
}
#carousel-example-generic{
margin:auto;
width:80%;
}
#textocentro{
	text-align: center;
}